/*
	Animación de zoom in/out en la imagen
*/
@keyframes back_animation {
	0% {
		-webkit-transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.25);
	}

	100% {
		-webkit-transform: scale(1) ;
	}
}

/*
	Animación de texto hacia arriba
*/
@keyframes text_up {
	from {
		top: 55%;
	}

	to{
		top: 45%;
	}
}

/*
	Animación de opacidad
*/
@keyframes fadein {
    0% { 
    	opacity: 0; 
    }
    100% { 
    	opacity: 1; 
    }
}