.authors-container a {
	text-decoration: none;
	color: #202124;
    font-weight: bold;
    text-shadow: none;
}

.authors-container {
    background:rgb(236, 236, 236);
    overflow: hidden;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 20px;
}

.author-box {
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid gray;
    overflow: hidden;
}

.author-box img {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.author-box p {
    font-weight: bold;
    text-align: left;
    padding-top: 13px;
}

.selected {
    background:rgb(199, 199, 199);
}

.noborder {
    border: none;
}

.author-info h2 {
    text-align: left !important;
}

.author-info img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.author-info ul {
    padding: 5px;
    padding-left: 20px;
}

blockquote {
    margin-top: 5px;
    font-style: italic;
}

.videos {
    margin: 20px 0px;
}
 
.images img {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid white;
}

.rounded-img {
	width: 40px !important;
	height: 40px !important;
	background-size: cover;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
	border: 2px solid #fff;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.2);
}