.lc-htcontainer {
	max-width: 80%;
	margin: 10px auto 0px;
	overflow: hidden; /* Adapta la altura del elemento a la de los hijos a pesar de que estén flotando */
}

.lc-htitem {
	width: 50%;
	float: left;
	text-align: left;
}

.lc-httitle {
	font-size: 40px;
	font-weight: bold;
}

.lc-htdescription {
	font-size: 20px;
}