@keyframes contentAppear {
    from { 
        bottom: -50px;
    	opacity: 0; 
    }
    to { 
        bottom: 0px;
    	opacity: 1; 
    }
}

@keyframes contentDisappear {
    from { 
        bottom: 0px;
    	opacity: 1;
    }
    to { 
        bottom: -50px;
    	opacity: 0;
    }
}

.recom-item {
    margin-bottom: 10px;
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
    box-sizing: border-box;

    background-position: center; /* Imagen de fondo centrada */
    background-repeat: no-repeat; /* Imagen de fondo que no se repite */
    background-size: cover; /* Que ocupe todo lo posible */
}

.item-gradient {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(to bottom, rgba(69,72,77,0) 0%,rgba(25, 26, 28, 0.616) 64%,rgba(0,0,0,1) 100%);
    animation: contentDisappear 0.1s linear both;
}

.item-gradient:hover {
    animation: contentAppear 0.1s linear both;
}
  
.item-content {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    color: white;
}

.item-content h3 {
    text-align: left !important;
    margin-bottom: 10px;
}

.horizontal-item img {
    margin: 10px 0px 0px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
  }
  