
/*------------------------ Titulos ------------------*/
.marginTop{
  margin-top:100px !important;
  text-align: center;
  font-size: 2.5em;
}


html { height: 100%; }

body {
  color: white;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
  font-size:1.2em;

  font-family: 'Roboto', sans-serif;
  background-color: hsl(210,70%,20%);  
}

.txt[contenteditable] {
  outline: none;
}
/*---------------------PARA SELECT ----------------------*/
select{
  -webkit-text-fill-color:black;
}

/*----------------- Para tablas ------------------*/
.tablaActividades{
    font-size:0.8em;
    border-collapse: collapse;
    width: 100%;
}
.tablaActividades td, .tablaActividades th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tablaActividades tr:nth-child(even){background-color: rgb(9, 92, 122) ;}
.tablaActividades tr:hover {background-color: #c1c5e3;}
.tablaActividades th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* ------------------- Para imagenes de fondo-----------------*/
.imagenBlur{
   opacity:0.55; position: absolute; width:100%;height:100%; filter: blur(10px);
}

/* Box ------------------------------------------------------ */

#box {
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 50px;
  font-size: 2em;
  font-weight: bold;
}


/* txt ------------------------------------------------------ */

.txt {

  text-shadow: #fff 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
  }
  @-moz-document url-prefix() { .txt { text-shadow: #fff 0 0 20px; } } /* FF fix */

#box:hover .txt {
    text-shadow: #fff 0 0 5px;
    transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}


/*------------------------ Otros------------------*/

.full-width {
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
}

#main-content .content {
    padding: 40px;
}

#main-content h2 {
  margin: 20px 0px; 
  text-align: center;
}

/*--------------------------CONTAINER------------------------------*/

table, th, td {
  border:1px solid black;
  border-collapse:collapse;
}

.quienessomos{
  margin: 0 auto;
}

/*--------------------------Imagenes de cabecera-----------------------*/
.image-cover * { /* Lo suyo es que se aplique a todo pero se rompe lo que ya tienes hecho */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased !important; /* Suavizado de la fuente */
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


#wrapper {
	width: 100%;
	height: calc(60vh - 60px);

	position: absolute;
	overflow: hidden; /* El contenedor debe ocultar la parte de la imagen que se "saldria de su tamaño normal" al hacer el efecto de zoom */ 
}

.cover {
	width: 100%;
  height: 100%;
	background-attachment: fixed; /* Imagen de fondo fija (efecto parallax) */
  background-repeat: no-repeat; /* Imagen de fondo que no se repite */
  background-position: center center;
  background-size: cover; /* Que ocupe todo lo posible */  
	animation: 60s ease 0s normal none infinite back_animation;
}

.image-cover {
	width: 100%;
	height: calc(60vh - 60px);
	background-color: black;
	opacity: 0.5;
  text-align: center;
  color: white;  
}

.image-text {
	display: inline-block;
  position: relative; /* Posición relativa para poder colocar los hijos */
  transform: translateY(-40%);  
	animation: text_up 5s forwards;
}

.image-cover h1 {
  font-size: 10vw;
}

.image-cover h2 {
  opacity: 0;
	font-size: 3vw;
  animation: fadein 3s ease 3s both;
}

#escenario {
  display: block;
  margin-left: auto;  
  margin-right: auto;
}