#main-content h2 {
  text-align: center;
}

#main-content > img {
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.recom-item {
  margin-bottom: 10px;
  background: #333;
  border-radius: 5px;
  max-height: 390px;
  min-height: 390px;
  overflow: scroll;
  border: 1px solid white;
  box-sizing: border-box;
}

.recom-item img {
  width: 100%;
  height: 200px;
}

.item-content {
  padding: 10px;
}

.item-content h3 {
  margin-bottom: 5px;
}
