@keyframes background-fadein {
    0% { 
        background: rgba(0, 0, 0, 0.377); 
    }
    100% { 
        background: rgb(9, 92, 122); 
    }
}

@keyframes background-fadeout {
    0% { 
        background: rgba(9, 91, 122); 
    }
    100% { 
        background-color: rgba(0, 0, 0, 0.377); 
    }
}

/*Navegación*/
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
}
    
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover, .gb-dropdown:hover .gb-dropbtn {
    font-weight: bold;
}

footer {
    margin-top:30px;
    overflow: hidden;
}

#better-header {
    height: 60px; 
    position: fixed;
    z-index: 10;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.377);
}

#better-header a {
    color: white;
}

/*
 * Logo
 */
#logo-header {
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    margin-left:158px;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}

#main-footer {
    background: #333;
    color: white;
    text-align: center;
    box-sizing: border-box;
}
  
#main-footer p {
    padding-top: 75px;
    padding-bottom: 15px;
}
    
#main-footer a {
    color: white;
}

.color {
    background: rgb(9, 92, 122) !important;
}

.nav-colored { 
    animation: background-fadein 0.25s linear forwards;  
}

.nav-transparent { 
    animation: background-fadeout 0.25s linear forwards;    
}

/*
	Estilo de la lista que aparece al ponerse sobre el elemento "Localización"
*/
.gb-dropdown {
	display: inline-block;
}

.gb-dropdown:hover .gb-dropdown-content {
	display: block; /* Mostrar elemento */
}

.gb-dropdown-content {
	display: none; /* Oculto por defecto */
	position: absolute;
	z-index: 1;
    min-width: 160px;
    background: rgba(0, 0, 0, 0.377);  
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
}

.gb-dropdown-content a {
	color: black;
	text-decoration: none;
	display: block;
	text-align: left;
	line-height: 16px !important; /* Sobreescribe el estilo principal del que hereda */
	padding: 20px !important; /* Sobreescribe el estilo principal del que hereda */
}