.marginCanvas{
	margin-top:125px;
	margin-left: auto;
  margin-right: auto;
}

.marginTopBot{
	margin-top:30px;
	margin-bottom:30px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased !important; /* Suavizado de la fuente */
}

/*para que ocupe la pantalla*/
.minPagina {
	min-height: 915px;
}