
#videoWrapper {
  text-align: center;
}

#piel {
	margin: 10px auto;
  background:#333;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid white;
}

#miPelicula {
  display: block;
}

#piel nav {
	height: 20px;
  width: 640px;
  margin: 5px auto;
}

#botones {
  margin-left: 5px;
	float: left;
  width: 80px;
  height: 16px;
}

#barra {
  width: 530px;
  height: 10px;
  float: left;
	margin-left: 10px;
  margin-top: 2px;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid white;
  background: rgb(212, 212, 212);
  border-radius: 5px;
}

#barraProgreso {
  border-radius: 5px;
  width: 0px;
  height: 100%;
  background: white;
}